catkin_ws_old/build/*/*
catkin_ws_old/devel/*/*
catkin_ws_old/build/*/
catkin_ws_old/devel/*/
catkin_ws_old/build/*
catkin_ws_old/devel/*
catkin_ws_old/build/
catkin_ws_old/devel/

backend/ros/catkin_ws/build/*/*
backend/ros/catkin_ws/devel/*/*
backend/ros/catkin_ws/build/*/
backend/ros/catkin_ws/devel/*/
backend/ros/catkin_ws/build/*
backend/ros/catkin_ws/devel/*
backend/ros/catkin_ws/build/
backend/ros/catkin_ws/devel/

