Flask==1.1.2
Flask-SQLAlchemy==2.4.4
websockets==8.1
psycopg2-binary==2.8.6
SQLAlchemy-serializer==1.3.4
face-recognition==1.3.0
PyYAML==5.4
rospkg==1.2.9
defusedxml==0.6.0
Pillow==8.1.2
python-dotenv==0.15.0